:root {
    --dark: rgb(0, 0, 0);
    --darkLight: rgb(23, 23, 23);
    --aqua: rgb(5, 164, 176);
    --aquaLight: rgb(2, 187, 220);
}

html {
    scroll-behavior: smooth;
}
/* General tags */
body {
    width: 100vw;
    height: 10vh;
    background-color: var(--dark);
    background-image: url(../assets/img/galaxy.png);
    color: var(--aqua);
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

h1 {
    font-size: 360%;
}

h2 {
    font-size: 330%;
}

h3 {
    font-size: 250%;
}

a {
    color: var(--aquaLight);
}

p {
    color: var(--aquaLight);
}


/* Navigation */
#logo{
    transform: none;
    text-decoration: none;
}

.nav {

    opacity: 0.9;

}

.nav h1{
    display: block;
}

.nav h1:hover{
    color: rgb(255, 75, 138);
}

.nav a{
    display: block;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
}

.nav li{
    font-size: 130%;
    margin: 0 auto;
    margin-left: 100px;
    list-style: none;
}

.nav a:hover{
    color:rgb(255, 75, 138);
    transform: scale(1.2);
}

/* Banner */
.welcome {
    display: flex;
    justify-content: flex-end;
    background-image: url(../assets/img/smoke.gif);
    opacity: 0.9;
    padding: 20px;
    background-size: 100%;
}

.welcome h2{
    padding-top: 50px;
}

/* About me*/ 
.journey {
    padding: 50px 20px;
}


/* Portfolio */

.main-snippet{
    opacity: 0.7;
    align-content: center;
    background-size: contain;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.main-snippet:hover {
    background-color: rgb(162, 160, 160);
    opacity: 1;
}

.snippet {
    opacity: 0.7;
    align-content: center;
    background-size: contain;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.snippet img {
    width: 525px;
    height: 300px;
}

.snippet:hover {
    background-color: rgb(162, 160, 160);
    opacity: 1;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--dark);
    opacity: 0.9;
}

.footer a{
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.footer a:hover {
    color: rgb(255, 75, 138);
    transform: scale(1.2);
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer li{
    margin-left: 50px;
    list-style: none;
}

.logoGh{
    height: 80px;
    width: 80px;
}

.logoIg{
    height: 50px;
    width: 50px;
}